<%= bootstrap_form_for @player do |f| %>
  <div class="form-group">
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.text_field :email %>
  </div>
  <div class="form-group">
    <%= f.text_field :hand%>
  </div>
  <div class="form-group">
    <%= f.number_field :grade %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                players_path, :class => 'btn' %>
  </div>
<% end %>
